<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/global/normalize.css" type="text/css" rel="stylesheet">
  <link href="/css/global/typography.css" type="text/css" rel="stylesheet">
  <link href="/css/global/buttons.css" type="text/css" rel="stylesheet">
  <link href="/css/global/grid.css" type="text/css" rel="stylesheet">
  <link href="/css/css.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="root">
  <%= __html__ %>
</div>
<script>
  window.__INITIAL_STATE__= <%= __state__ %>;
</script>
<script type="text/javascript" src="http://localhost:3009/bundle.js"></script>
</body>
</html>